GROUP_DOMAIN=domain.com
GROUP_PROVIDERS='{"google":{"enabled":true,"primary":true,"capabilities":{"provides_role_info":true,"supports_member_management":true}},"aws":{"enabled":true,"prefix":"aws","capabilities":{"supports_member_management":true,"supports_batch_operations":true,"max_batch_size":"100"}}}'