[flake8]
# Rule definitions: http://flake8.pycqa.org/en/latest/user/error-codes.html
# W503: line break before binary operator
# W504: line break after binary operator
# In most cases Black follows the rules below, but there are some exceptions
# E203: whitespace before ':'
# E501: line too long
exclude = venv*, __pycache__, node_modules, cache, migrations, build
ignore = W503, W504, E203, E501
per-file-ignores =
    # E704: Protocol stub methods use single-line `...` form (black-formatted)
    packages/access/sync/coordinator.py: E704
    packages/access/catalog/service.py: E704
    packages/access/request/service.py: E704
max-complexity = 16
max-line-length = 130