arrow==1.2.3
awscli==1.27.114
aws-sns-message-validator==0.0.5
boto3==1.26.114
fastapi==0.95.1
geoip2==4.6.0
google-api-python-client==2.86.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
python-dotenv==0.21.1
python-i18n==0.3.9
requests==2.28.2
schedule==1.2.0
slack-bolt==1.17.1
trello==0.9.7.3
uvicorn==0.21.1