arrow==1.2.3
awscli==1.29.10
aws-sns-message-validator==0.0.5
boto3==1.28.10
fastapi==0.100.0
geoip2==4.7.0
google-api-python-client==2.95.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
PyYaml==5.3.1 # need to pin down the PyYaml version since the newest version is currently broken - https://github.com/yaml/pyyaml/issues/724
python-dotenv==0.21.1
python-i18n==0.3.9
requests==2.31.0
schedule==1.2.0
slack-bolt==1.18.0
trello==0.9.7.3
uvicorn==0.23.1
