version: '3'

services:
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest@sha256:d89f8fcc6b1a39cb35976c248ed42a28c66ae00dc043099210f5571e42648ab4"
    container_name: dynamodb-local
    ports:
      - "9000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
  app:
    depends_on:
      - dynamodb-local
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        VARIANT: "3.12"
        INSTALL_NODE: "true"
        NODE_VERSION: "lts/*"
        LICENSE_KEY: '${MAXMIND_KEY}'
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    environment:
      AWS_ACCESS_KEY_ID: 'AWSACCESSKEYID'
      AWS_SECRET_ACCESS_KEY: 'AWSSECRETACCESSKEY'
      SHELL: /bin/zsh
      ENVIRONMENT: 'dev'
